.contentUploadIcon {
    font-size: 4rem;
}

.contentUploadDrop {
    margin: 4px 0;
    font-size: 2rem;
    font-weight: 500;
    height: 80px;
    display: flex;
    align-items: center;
}

.contentUploadFooter {
    font-size: 1.4rem;
    color: var(--secondary-text-color);
    text-decoration: underline;
}